
------


<div class="TEST">
	What We Have, How We Use it, What We Think, How We Manage It

  Available Water - Uses of Water

	How we manage water as a resource is influenced by What we have, How we use it,
	and what we think. Here, we look into this trifecta of issues.
</div>

<%= link_to "Farm Economics", farm_economics_path %>

<!-- END MV PLOT -->
<div class="container">

  Water-Nexus - CA


  --


--> What is Water-SO?     About Data Sources         Login

  --

  Drop downs.


  Button - > Choose Area of Interest - > new page
  <br>
  <br>

  <% client = Tumblr::Client.new %>
  <% hash = client.posts("stateofdrought.tumblr.com") %>

  <%= hash["blog"]%>
  <br>

  <%= hash["posts"].length %>

  <% hash["posts"].each do |post| %>
    <%= post["id"]%>
    <br>
    <%= post["date"] %>
    <br>
    <%= post["trail"][0]%>
    <!-- ["content"]  -->
    ------------------------------------
    <br>
  <% end %>

</div>
