

<div class="container">

  <% words0 = TumblrBlog.content %>
  <% words1 = [] %>
  <% words2 = [] %>
  <% wordsFinal = [] %>

  <% words0.each do |word| %>
    <!-- gsub dashes below have different encodings -->
    <% words1.push( word.gsub(/[\/\-<>\"\—\–\“\”\’\:\?\,\.\(\)]/," ") )%>
  <% end %>

  <% words1.each do |word| %>
    <% words2.push( word.split(" ") )%>
  <% end %>
  <% words2 = words2.flatten %>

  <% words2.each do |word| %>
    <!-- includes removing 'href='' and 'target='; deleting white space -->
    <% if ( word.length > 3 && word.index("=") === nil && word.index("#") === nil && word.index("_") === nil) %>
      <% wordsFinal.push( word.strip ) %>
    <% end %>
  <% end %>

  <% wordsUniq = wordsFinal.uniq %>
  <% wordsCount = [] %>

  <% wordsUniq.each do |word| %>
    <% wordsCount.push(wordsFinal.count(word)) %>
  <% end %>

  <%= "******" %>
  <br>
  <br>
  <%= wordsUniq %>
  <br><br>
  <%= wordsCount %>
  <br><br>
  <%= wordsUniq.length %>
  <%= wordsCount.length %>
  <%= "**" %>
  <br>
  <br>
  <br><br>
  <!-- < %= words3[1].gsub(/[\—\–]/,"FUCK") %> -->
  <!-- <%= words2 %> -->
    <!-- chars [ <br>, </br>, <p>, </p>, <a>, </a>, <a, ., ?, ]
    anything with = -->
  <br>

  <!-- "hello".gsub(/[aeiou]/, '*') -->

</div>
